.git
.gitignore
.editorconfig
.idea
.travis.yml
.insomnia
.vscode

# Elixir
_build
.elixir_ls
deps

# Project-specific
resources
dev
priv
test
README.md
LICENCE.md
soc-ex-api.yaml

# Docker
.dockerignore
Dockerfile
docker-compose*

# File types
tmp
erl_crash.dump
*.ez
